# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/
*.egg-info/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit cache
.streamlit/

# Python egg metadata
*.egg
*.egg-info/
dist/
build/

# IDE files
.idea/
*.swp

# Test coverage
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover

# Local MongoDB dump files
dump/

# User uploads
static/uploads/
